.container__gray{
    width: 375px;
    padding: 80px 16px;
    margin: 0 auto;
    @include tablet{
        width: 744px;
        padding: 120px 40px;
    }
    @include desktop{
        width: 1440px;
        padding: 160px 80px;
    }
}

.container__white{
    width: 375px;
    padding: 48px 16px;
    margin: 0 auto;
    @include tablet{
        width: 744px;
        padding: 48px 40px;
    }
    @include desktop{
        width: 1440px;
        padding: 80px 80px;
    }
}