.form{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 12px;
    width: 343px;
    backdrop-filter: blur(20px);
    background: var(--bg);
    @include tablet{
        width: 382px;
        padding: 16px;
    }
    @include desktop{
        width: 423px;
        padding: 16px;
    }
}
.form__container{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     margin-bottom: 32px;
}

.input,
.textarea{
    display: flex;
    border: none;
    border-bottom: 1px solid var(--black);
    padding: 20px 32px 8px 32px;
    width: 100%;
    background-color: transparent;
    @include desktop{
      padding: 20px 32px 8px 36px;
    }
}
.textarea{
    padding-left: 0;
}
.input::placeholder,
.textarea::placeholder
{   align-content: start;
    color: var(--black);   
}

.input:focus,
.textarea:focus{
    border: none;
    outline: none;
}
.input:nth-child(even){
    margin-right: 0;
}
.review__textarea{
    height: 100px;
}
.form__text{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
}

.form__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px;
    background-color: var(--beidg);
    border: 2px solid var(--beidg);;
    border-radius: 32px;
    color: var(--black-2);
}
.form__button:hover,
.form__button:focus{
    // cursor: pointer;
    border: 2px solid var(--pure-white);
    // background-color: transparent;
    color: var(--pure-white);
    // fill: var(--pure-white);
}
// .form__button-svg{
//     margin-left: 8px;
//     // fill: var(--pure-white);
// }
.svg__user{
    width: 24px;
    height: 24px;
}
// .svg__user-black{
//     width: 24px;
//     height: 24px;
//     // fill: var(--black-2);
// }

.svg__arrow__black{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.form__svg-cross{
    width: 24px;
    height: 24px;
    // fill: var(--black-2);
    border: 1 solid var(--black-2);
}
.form__button:hover .svg__arrow__black,
.form__button:focus .svg__arrow__black{
    fill: var(--pure-white);
}
.input__user-svg{
    position: absolute;
    top: 76px;
    left: 10px;
    width: 24px;
    height: 24px;
    @include tablet{
      top: 64px;
      left: 12px;
    }
    @include desktop{
        top: 62px;
        left: 14px;
    }
}
.input__location-svg {
    position: absolute;
        top: 130px;
        left: 12px;
        width: 24px;
        height: 24px;
        @include tablet {
            top: 115px;
        }
    
        @include desktop {
            top: 115px;
        }
}

.input__phone-svg{
    position: absolute;
    top: 122px;
    left: 10px;
    @include tablet{
       top: 110px;
       left: 14px;
    }
    @include desktop{
        top: 110px;
        left: 14px;
    }
}
.input__email-svg{
    position: absolute;
    top: 171px;
    left: 10px;
    @include tablet {
        top: 159px;
        left: 14px;
        }
    
    @include desktop {
        top: 158px;
        left: 14px;
        }
}
.input__email-svg-white{
    position: absolute;
    top: 200px;
    left: 10px;
    
     @include tablet {
            top: 185px;
            left: 14px;
        }
    
        @include desktop {
            top: 158px;
            left: 14px;
        }
}