.menu-mobile-container {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-49%, -19%);
    width: 343px;
    padding: 40px 16px;
    background-color: var(--bg);

    @include tablet {
        transform: translate(-50%, -50%);
    }

}
.button__menu-close {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: var(--bg);

    @include tablet {
        top: 16px;
        right: 16px;
    }

    @include desktop {
        top: 16px;
        right: 16px;
    }

}
.modal__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin-bottom: 48px;
}

.button__menu_quote {
    display: block;
    width: 100%;
    border: 2px solid var(--beidg);
    border-radius: 24px;
    padding: 10px 16px;
    background-color: transparent;
    margin-bottom: 48px;
}

.menu__mobile-subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--black-2);
    margin-bottom: 12px;
}

.menu__mobile-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--black-2);
}

.menu__mobile-instagram {
    border: 1px solid var(--beidg);
    border-radius: 24px;
    padding: 8px 16px;
    width: 115px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--black-2);
}