.hero__container{
    width: 375px;
    padding: 123px 16px 24px 16px ;
    margin: 0 auto;
    @include tablet{
        width: 744px;
        padding: 140px 40px 50px 40px;
    }
    @include desktop{
        width: 1440px;
        padding: 181px 80px 48px 80px;
    }
}
.hero__title-span{
    @include desktop{
        margin-left: 217px;
    }
}

.hero__text{
    width: 100%;
    margin-bottom: 16px;
    @include tablet{
     width: 407px;
     margin-bottom: 0;
    }
    @include desktop{
     width: 407px;
     margin-left: 237px;
    margin-bottom: 0;
    }
}
.hero__button{
    // display: flex;
    // align-items: center;
    // justify-content:space-around;
    // width: 100%;
    // border-radius: 32px;
    // border: none;
    // background-color: var(--black);
    padding: 12px 14px 12px 24px;
    @include tablet{
        width: 236px;   
    }
    @include desktop{
        width: 413px;
    }
}
.svg__arrow__white{
    fill: var(--pure-white);
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.hero__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include tablet{
        flex-direction: row;
    }
    @include desktop{
        flex-direction: row;
    }
}
