.section__help{
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 80px 16px 16px 16px;
    margin: 0 auto;
    // padding-bottom: 16px;
    border-bottom: 1px solid var(--beidg);
    @include tablet{
        width: 744px;
        padding: 120px 40px 24px 40px;
        // padding-bottom: 24px;
    }
    @include desktop{
        width: 1440px;
        flex-direction: row;
        padding: 160px 80px 24px 80px;
        // padding-bottom: 24px;
    }
}
.help__image{
    width: 343px;
    height: 99px;
    margin-top: 20px;
    @include tablet{
        width: 664px;
        height: 191px;
        margin-top: 20px;
    }
    @include desktop{
        width: 413px;
        height: 154px;
        margin-top: 0;
    }
}
